<template>
  <div>
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('holidays')">Holiday</inertia-link>
      <span class="text-indigo-400 font-medium">/</span> Create
    </h1>
    <div class="bg-white rounded-md shadow overflow-hidden max-w-3xl">
      <form @submit.prevent="store">
        <div class="p-8 mr-6 -mb-8 flex flex-wrap">
          <text-input v-model="form.holiday_name" :error="form.errors.holiday_name" class="pr-6 pb-8 w-full" placeholder="Hari Raya Aidilfitri" label="Name" />
          <span class="pb-2">Type:</span>
          <select v-model="form.holiday_type" :error="form.errors.holiday_type" class="form-select mr-6" name="state_name" required>
            <option value="" disabled selected>Select holiday type</option>
            <option value="Federal Holiday">Federal Holiday</option>
            <option value="State Holiday">State Holiday</option>
            <option value="Public Holiday">Public Holiday</option>
          </select>
          <text-input
            :value="$page.props.state[0].state_name"
            class="pr-6 pt-8 w-full" 
            label="State" 
            :disabled="true"
          />
          <text-input type="date" v-model="form.date" :error="form.errors.date" class="pt-8 pr-6 pb-8 w-full" label="Date"/>
        </div>
        <div class="px-8 py-4 bg-gray-50 border-t border-gray-100 flex justify-end items-center">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Create Holiday</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FileInput from '@/Shared/FileInput'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  metaInfo: { title: 'Create Holiday' },
  components: {
    FileInput,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  props: {
    holidays: Array,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        holiday_name: null,
        holiday_type: null,
        state_id: this.$page.props.state[0].id,
        date: null,
      }),
    }
  },
  methods: {
    store() {
      this.form.post(this.route('holidays.store'))
    },
  },
}
</script>
