<template>
  <div>
    <div class="mb-8 flex justify-start max-w-3xl">
      <h1 class="font-bold text-3xl">
        <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('holidays')">Holiday</inertia-link>
        <span class="text-indigo-400 font-medium">/</span>
        {{ form.holiday_name }}
      </h1>
    </div>
    <trashed-message v-if="holiday.deleted_at" class="mb-6" @restore="restore"> This holiday has been deleted. </trashed-message>
    <div class="bg-white rounded-md shadow overflow-hidden max-w-3xl">
      <form @submit.prevent="update">
        <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
          <text-input v-model="form.holiday_name" :error="form.errors.holiday_name" class="pr-6 pb-8 w-full" label="Name" />
          <span class="pb-2">Type:</span>
          <select v-model="form.holiday_type" :error="form.errors.holiday_type" class="form-select mr-6" name="state_name">
            <option value="Federal Holiday">Federal Holiday</option>
            <option value="State Holiday">State Holiday</option>
            <option value="Public Holiday">Public Holiday</option>
          </select>
          <span class="pt-8 pb-2">State:</span>
          <select :error="form.errors.state_id" class="form-select mr-6" name="state_name" v-model="form.state_id">
            <option v-for="state in $page.props.data" :key="state.id" :value="state.id">{{ state.state_name }}</option>
          </select>
          <text-input
            id="date_formatted"
            type="date"
            v-model="form.date_formatted"
            :value="form.date_formatted"
            :error="form.errors.date_formatted" 
            class="pt-8 pb-8 pr-6 w-full" 
            label="Date"
          />
        </div>
        <div class="px-8 py-4 bg-gray-50 border-t border-gray-100 flex items-center">
          <button v-if="!holiday.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Holiday</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Update Holiday</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import FileInput from '@/Shared/FileInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  metaInfo() {
    return {
      title: `${this.form.holiday_name}`,
    }
  },
  components: {
    FileInput,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  layout: Layout,
  props: {
    holiday: Object,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        _method: 'put',
        holiday_name: this.holiday.holiday_name,
        holiday_type: this.holiday.holiday_type,
        holiday_year: this.holiday.holiday_year,
        state_id: this.holiday.state_id,
        date_formatted: this.holiday.date_formatted,
      }),
    }
  },
  methods: {
    update() {
      this.form.post(this.route('holidays.update', this.holiday.id))
    },
    destroy() {
      if (confirm('Are you sure you want to delete this holiday?')) {
        this.$inertia.delete(this.route('holidays.destroy', this.holiday.id))
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this holiday?')) {
        this.$inertia.put(this.route('holidays.restore', this.holiday.id))
      }
    },
  },
}
</script>
