<template>
  <div class="p-6 bg-indigo-800 min-h-screen flex justify-center items-center">
    <div class="w-full max-w-5xl">
      <logo class="block w-full max-w-xs fill-white" height="50" />
      <div class="bg-white rounded-lg shadow-xl overflow-hidden">
        <div class="px-10 py-12">
          <div class="mb-6 md:flex justify-between">
            <div>
              <h1 class="text-left font-bold text-2xl">Project: {{ project.name }}</h1>
            </div>
            <div>
              <h1 class="text-left text-2xl"><b>Overall Percentage:</b> {{ overallPercentage }}%</h1>
              <div class="mt-3" style="line-height: 24px" :title="new Date(Date.parse(updated_at)).toLocaleString()">
                <h1 class="text-right text-l"><b>Last updated:</b>
                <span><timeago :datetime="updated_at"></timeago>
<!--                   &nbsp;-->
<!--                  <span class="float-right">-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />-->
<!--                    </svg>-->
<!--                  </span>-->
                </span>
                </h1>
              </div>
            </div>
          </div>
          <div class="md:mx-10">
            <step-progress class="xs:block md:hidden" :steps="mobileSteps" :current-step="1" active-color="#2E365F" icon-class="fa fa-check"></step-progress>
            <step-progress class="hidden md:block" :steps="steps" :current-step="1" active-color="#2E365F" icon-class="fa fa-check"></step-progress>
          </div>
        </div>
        <div class="px-10 py-4 bg-gray-100 border-t border-gray-100">
          <div class="bg-white rounded-md shadow overflow-x-auto">
            <table class="w-full whitespace-nowrap">
              <thead>
                <tr class="text-left font-bold bg-gray-200 bg-opacity-75">
                  <th class="px-3 py-3">#</th>
                  <th class="px-3 py-3">Task Title</th>
                  <th class="px-3 py-3">Start On</th>
                  <th class="px-3 py-3">End On (day)</th>
                  <th class="px-3 py-3">Completed On</th>
                  <th class="px-3 py-3">Status (%)</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(group, g) in groups">
                  <tr class="hover:bg-gray-100 focus-within:bg-gray-200 bg-gray-300 bg-opacity-75 clickable" @click="toggleGroup(g)">
                    <th class="border-t">
                      <div class="px-3 py-3 flex items-center">
                        {{ group.number }}
                      </div>
                    </th>
                    <th class="border-t" colspan="4">
                      <div class="px-3 py-3 flex items-center">
                        {{ group.title }}
                      </div>
                    </th>
                    <th class="border-t">
                      <div class="px-3 py-3 flex justify-end">
                        <svg
                          class="w-4 h-4 transition-transform transform"
                          :class="{ '-rotate-90': !toggles[g] }"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                      </div>
                    </th>
                  </tr>

                  <template
                    v-for="(activity) in group.activities"
                  >
                    <tr
                      :class="{'hover:bg-gray-100 focus-within:bg-gray-100': true, 'bg-gray-200 bg-opacity-75': activity.header}"
                      v-show="toggles[g]"
                      :key="'activity-' + group.number + '-' + activity.number"
                    >
                      <template v-if="activity.header">
                        <th class="border-t">
                          <div class="px-3 py-3 flex items-center">
                            {{ group.number }}.{{ activity.number }}
                          </div>
                        </th>
                        <th class="border-t" colspan="6">
                          <div class="px-3 py-3 flex items-center">
                            {{ activity.title }}
                          </div>
                        </th>
                      </template>
                      <template v-else>
                        <td class="border-t">
                          <div class="px-3 py-3 flex items-center">
                            {{ group.number }}.{{ activity.number }}
                          </div>
                        </td>
                        <td class="border-t">
                          <div class="px-3 py-3 flex items-center">
                            {{ activity.title }}
                          </div>
                        </td>
                        <td class="border-t">
                          <div class="px-3 py-3">
                            {{ activity.start_formatted }}
                          </div>
                        </td>
                        <td class="border-t">
                          <div class="px-3 py-3">
                            {{ activity.end_formatted }}
                            <div v-if="activity.end_formatted != '-' && activity.display_duration != '-'">
                              ({{ activity.display_duration }} day)
                            </div>
                          </div>
                        </td>
                        <td class="border-t">
                          <div class="px-3 py-3 flex items-center">
                            {{ activity.completed_formatted }}
                          </div>
                        </td>
                        <td class="border-t">
                          <div :class="{'px-3 py-3 flex items-center' : true, 'text-green-800' : activity.percentage == 100, 'text-yellow-500' : activity.percentage > 0 || activity.current, }">
                            <span
                              :class="{
                                'inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none rounded' : true,
                                'text-green-100 bg-green-700' : activity.percentage == 100,
                                'text-yellow-100 bg-yellow-700' : activity.percentage > 0 || activity.current,
                                'text-gray-100 bg-gray-700' : activity.percentage == 0 && !activity.current,
                              }"
                            >
                              <template v-if="activity.percentage == 100">
                                Completed
                              </template>
                              <template v-else-if="activity.percentage > 0 || activity.current">
                                In Progress
                              </template>
                              <template v-else>
                                To do
                              </template>
                            </span>
                            &nbsp;
                            {{ activity.percentage }}%
                          </div>
                        </td>
                      </template>
                    </tr>
                    <template
                      v-if="toggles[g] && activity.description"
                    >
                      <tr
                        :class="{'hover:bg-gray-100 focus-within:bg-gray-100': true, 'bg-gray-200 bg-opacity-75': activity.header}"
                        :key="'activity-' + group.number + '-' + activity.number + '-desc'"
                      >
                        <td class="border-t"></td>
                        <td class="border-t" colspan="5">
                          <div class="px-3 py-3 flex items-center" style="white-space: pre-line; line-height: 20px;">{{ activity.description }}</div>
                        </td>
                      </tr>
                    </template>
                  </template>
                </template>
              </tbody>
              <tfoot>
                <tr class="text-left font-bold bg-gray-200 bg-opacity-75">
                  <th class="border-t px-3 py-3">#</th>
                  <th class="border-t px-3 py-3">Task Title</th>
                  <th class="px-3 py-3">Start On</th>
                  <th class="px-3 py-3">End On (day)</th>
                  <th class="border-t px-3 py-3">Completed On</th>
                  <th class="border-t px-3 py-3">Status (%)</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/Shared/Logo'
import StepProgress from 'vue-step-progress';

// import the css (OPTIONAL - you can provide your own design)
import 'vue-step-progress/dist/main.css';

export default {
  metaInfo() {
    return {
      title: `${this.project.name} Timeline`,
    }
  },
  props: {
    project: Object,
    groups: Array,
    updated_at: String,
  },
  components: {
    Logo,
    StepProgress,
  },
  data() {
    return {
      // steps: ['Initiation (100%)', 'Development (50%)', 'Review (0%)'],
      // mobileSteps: ['Initiation', 'Development', 'Review'],
      // mobileSteps: ['100%', '50%', '0%'],
      overallPercentage: 0,
      toggles: {},
    }
  },
  computed: {
    steps() {
      let steps = [];
      let groups = this.getGroups();
      for (const groupsKey in groups) {
        let group = groups[groupsKey];
        steps.push(group.title + ' (' + group.percentage + '%)');
      }

      return steps;
    },
    mobileSteps() {
      let steps = [];
      let groups = this.getGroups();
      for (const groupsKey in groups) {
        let group = groups[groupsKey];
        steps.push(group.percentage + '%');
      }

      return steps;
    },
  },
  methods: {
    getGroups() {
      let groups = this.groups;
      let steps = [];
      for (const groupsKey in groups) {
        let group = groups[groupsKey];
        let total = 0;
        let completed = 0;
        for (const actKey in group.activities) {
          let activity = group.activities[actKey];
          let duration = activity.display_duration;
          if(activity.header) continue;

          if(duration == '-') {
            duration = 1;
          }
          total += parseInt(duration);
          completed += (duration * (parseFloat(activity.percentage) / 100));
        }
        steps.push({
          title: group.title,
          short_name: group.title,
          percentage: ((completed / total * 100).toFixed(0)),
          completed,
          total
        });
      }

      return steps;
    },
    initToggle() {
      let toggles = this.toggles;
      let groups = this.groups;
      for (const groupsKey in groups) {
        let group = groups[groupsKey];
        this.$set(this.toggles, groupsKey, false);
      }
    },
    toggleGroup(index) {
      this.$set(this.toggles, index, !this.toggles[index]);
    }
  },
  mounted() {
    let groups = this.getGroups();
    let total = 0;
    let completed = 0;
    for (const groupsKey in groups) {
      let group = groups[groupsKey];
      total += group.total;
      completed += group.completed;
    }
    this.overallPercentage = ((completed / total * 100).toFixed(0));
    this.initToggle();
  }
}
</script>

<style>
.clickable {
  cursor: pointer;
}
</style>
