<template>
  <div>
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('projects')">Projects</inertia-link>
      <span class="text-indigo-400 font-medium">/</span> Create
    </h1>
    <div class="bg-white rounded-md shadow overflow-hidden max-w-3xl">
      <form @submit.prevent="store">
        <div class="p-8 -mb-8 flex flex-wrap">
          <text-input v-model="form.name" :error="form.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Name" />
          <text-input v-model="form.alias" :error="form.errors.alias" class="pr-6 pb-8 w-full lg:w-1/2" label="Alias" :placeholder="route('projects.view', form.alias)" /> 
        </div>
        <div class="pb-8 px-8 mr-6 flex flex-wrap">
          <span class="pb-1">State:</span>
          <select :error="form.errors.state_id" name="state_id" v-model="form.state_id" class="form-select">
            <option value="" disabled selected>Select state</option>
            <option v-for="state in $page.props.data" :key="state.id" :value="state.id">{{ state.state_name }}</option>
          </select>
        </div>
        <div class="px-8 py-4 bg-gray-50 border-t border-gray-100 flex justify-end items-center">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Create Project</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  metaInfo: { title: 'Create Project' },
  components: {
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        name: null,
        alias: '',
        state_id: null,
      }),
    }
  },
  methods: {
    store() {
      this.form.post(this.route('projects.store'))
    },
  },
}
</script>
