<template>
  <div>
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('projects')">Projects</inertia-link>
      <span class="text-indigo-400 font-medium">/</span>
      {{ form.name }}
    </h1>
    <trashed-message v-if="project.deleted_at" class="mb-6" @restore="restore">
      This project has been deleted.
    </trashed-message>
    <form @submit.prevent="update">
      <div class="bg-white rounded-md shadow overflow-hidden max-w-3xl">
        <div class="p-8 mr-6 -mb-8 flex flex-wrap">
          <text-input v-model="form.name" :error="form.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Name" />
          <div class="pb-8 w-full lg:w-1/2">
            <text-input v-model="form.alias" :error="form.errors.alias" label="Alias" />
            <a class="form-feedback" :href="project.url" target="_blank">{{ route('projects.view', form.alias) }}</a>
          </div>
        </div>
        <div class="pb-8 px-8 mr-6 flex flex-wrap">
          <span class="pb-1">State:</span>
          <select :error="form.errors.state_id" name="state_id" v-model="form.state_id" class="form-select">
            <option value="" disabled selected>Select state</option>
            <option v-for="state in $page.props.data" :key="state.id" :value="state.id">{{ state.state_name }}</option>
          </select>
        </div>
        <div class="px-8 py-4 bg-gray-50 border-t border-gray-100 flex items-center">
          <button v-if="!project.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Project</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Update Project</loading-button>
        </div>
      </div>

      <div class="mt-8 bg-white rounded-md shadow overflow-hidden">
        <div class="p-8">
          <div class="bg-white rounded-md shadow overflow-x-auto">
            <table class="w-full whitespace-nowrap">
              <thead>
                <tr class="text-left font-bold bg-gray-200 bg-opacity-75">
                  <th class="px-3 py-3">#</th>
                  <th class="px-3 py-3">Task Title</th>
                  <th class="px-3 py-3">Start On</th>
                  <th class="px-3 py-3">End On</th>
                  <th class="px-3 py-3">Completed On</th>
                  <th class="px-3 py-3">Percentage</th>
                  <th class="px-3 py-3">Actions</th>
                </tr>
              </thead>
              <tbody>
              <template
                  v-for="(group, g) in form.groups"
                >
                  <tr
                    class="bg-gray-200 bg-opacity-75"
                  >
                    <th class="border-t">
                      <div class="px-3 py-3 flex items-center">
                        {{ g + 1 }}
                        <input type="hidden" name="project_id" :value="group.project_id"/>
                      </div>
                    </th>
                    <th class="border-t" colspan="5">
                      <div class="px-3 py-3 flex items-center">
                        <div class="w-full">
                          <text-input
                            id="title[]"
                            v-model="form.groups[g].title"
                            placeholder="Group title"
                            :error="form.errors.groups ? form.errors.groups[g].title : ''"
                          />
                        </div>
                      </div>
                    </th>
                    <th class="border-t">
                      <div class="px-3 py-3 flex items-center">
                        <loading-button
                          class="btn-default ml-auto"
                          type="button"
                          :onClick="() => addGroup(false, g)"
                        >
                          <i class="fa fa-plus" />
                        </loading-button> &nbsp;
                        <loading-button
                          class="btn-danger ml-auto"
                          type="button"
                          :onClick="() => deleteGroup(g)"
                        >
                          <i class="fa fa-trash" />
                        </loading-button>
                      </div>
                    </th>
                  </tr>
                  <template v-for="(activity, a) in group.activities"
                    :data-i="aIndex++">
                    <tr
                      class="hover:bg-gray-100 focus-within:bg-gray-100"
                    >
                      <td class="border-t">
                        <div class="px-3 py-3 flex items-center">
                          {{ g + 1 }}.{{ a + 1 }}
                        </div>
                      </td>
                      <td class="border-t">
                        <div class="px-3 py-3 flex items-center w-full">
                          <text-input
                            id="title[]"
                            v-model="form.groups[g].activities[a].title"
                            placeholder="Task title"
                            style="width:200px;"
                            :error="form.errors.activities ? form.errors.activities[aIndex].title : ''"
                          />
                        </div>
                      </td>
                      <td class="border-t">
                        <div class="px-3 py-3 flex items-center w-full">
                          <text-input
                            id="start_at[]"
                            type="date"
                            v-model="form.groups[g].activities[a].start_at_formatted"
                            :value="form.groups[g].activities[a].start_at_formatted"
                            placeholder="Start on"
                            :error="form.errors.activities ? form.errors.activities[aIndex].start_at : ''"
                          />
                        </div>
                      </td>
                      <td class="border-t">
                        <div class="px-3 py-3 flex items-center w-full">
                          <text-input
                            id="end_at[]"
                            type="date"
                            v-model="form.groups[g].activities[a].end_at_formatted"
                            :value="form.groups[g].activities[a].end_at_formatted"
                            placeholder="End on"
                            :error="form.errors.activities ? form.errors.activities[aIndex].end_at : ''"
                          />
                        </div>
                      </td>
                      <td class="border-t">
                        <div class="px-3 py-3 flex items-center w-full">
                          <text-input
                            id="completed_at[]"
                            type="date"
                            v-model="form.groups[g].activities[a].completed_at_formatted"
                            :value="form.groups[g].activities[a].completed_at_formatted"
                            placeholder="Completed on"
                            :error="form.errors.activities ? form.errors.activities[aIndex].completed_at : ''"
                          />
                        </div>
                      </td>
                      <td class="border-t">
                        <div class="px-3 py-3 flex items-center w-full">
                          <text-input
                            name="percentage[]"
                            type="number"
                            :min= "0"
                            :max= "100"
                            v-model="form.groups[g].activities[a].percentage"
                            placeholder="Percentage"
                            :error="form.errors.activities ? form.errors.activities[aIndex].percentage : ''"
                          />
                        </div>
                      </td>
                      <td class="border-t">
                        <div class="px-3 py-3 flex items-center">
                          <loading-button
                            class="btn-danger ml-auto"
                            type="button"
                            :onClick="() => deleteActivity(g, a)"
                          >
                            <i class="fa fa-trash" />
                          </loading-button>
                        </div>
                      </td>
                      <tr class="hover:bg-gray-100 focus-within:bg-gray-100 border-t">
                        <td class="border-t"></td>
                        <td class="border-t" colspan="5">
                          <div class="px-3 py-3 flex items-center">
                            <div class="w-full">
                              <textarea-input
                                id="description[]"
                                v-model="form.groups[g].activities[a].description"
                                placeholder="Description"
                                :error="form.errors.activities ? form.errors.activities[aIndex].description : ''"
                              />
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tr>
                  </template>
              </template>
              </tbody>
            </table>
          </div>

          <loading-button :loading="groupProcessing" class="btn-default ml-auto mt-5" type="button" :onClick="() => addGroup(true)">Add Group</loading-button>
        </div>
        <div class="px-8 py-4 bg-gray-50 border-t border-gray-100 flex items-center">
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Update Project</loading-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'
import TrashedMessage from '@/Shared/TrashedMessage'
import TextareaInput from '@/Shared/TextareaInput'

export default {
  metaInfo() {
    return { title: this.form.name }
  },
  components: {
    Icon,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
    TextareaInput,
  },
  layout: Layout,
  props: {
    project: Object,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        name: this.project.name,
        alias: this.project.alias,
        url: this.project.url,
        state_id: this.project.state_id,
        groups: this.project.groups,
      }),
      aIndex: -1,
      groupProcessing: false,
    }
  },
  methods: {
    update() {
      this.form.put(this.route('projects.update', this.project.id))
    },
    destroy() {
      if (confirm('Are you sure you want to delete this project?')) {
        this.$inertia.delete(this.route('projects.destroy', this.project.id))
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this project?')) {
        this.$inertia.put(this.route('projects.restore', this.project.id))
      }
    },
    addGroup(header, index = null) {
      this.groupProcessing = true;
      if(!header && index != null) {
        this.form.groups[index].activities.push({
          title: '' ?? this.activity.title,
          description: '' ?? this.activity.description,
          start_at: '' ?? this.activity.start_at_formatted,
          end_at: '' ?? this.activity.end_at_formatted,
          completed_at: '' ?? this.activity.completed_at_formatted,
          percentage: '' ?? this.activity.percentage,
          header
        });
      } else {
        this.form.groups.push({
          title: '' ?? this.group.title,
          project_id: '' ?? this.group.project_id,
          header,
          activities: [],
        });
      }
      this.groupProcessing = false;
    },
    deleteGroup(g) {
      this.form.groups.splice(g, 1);
    },
    deleteActivity(g, a) {
      this.form.groups[g].activities.splice(a, 1);
    },
  },
}
</script>
