<template>
  <button :disabled="loading" class="flex items-center" @click="onClick">
    <div v-if="loading" class="btn-spinner mr-2" />
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    loading: Boolean,
    onClick: {
      default: () => {},
      type: Function,
    }
  },
}
</script>
