<template>
  <!-- Create new holiday in list of states page -->
  <div>
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('states')">Holiday</inertia-link>
      <span class="text-indigo-400 font-medium">/</span> Create
    </h1>
    <div class="bg-white rounded-md shadow overflow-hidden max-w-3xl">
      <form @submit.prevent="store">
        <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
          <text-input name="holiday_name" v-model="form.holiday_name" :error="form.errors.holiday_name" class="pr-6 pb-8 w-full" placeholder="Hari Raya Aidilfitri" label="Name" />
          <span class="pb-2">Type:</span>
          <select name="holiday_type" v-model="form.holiday_type" :error="form.errors.holiday_type" class="form-select mr-6" required>
            <option value="" disabled selected>Select holiday type</option>
            <option value="Federal Holiday">Federal Holiday</option>
            <option value="State Holiday">State Holiday</option>
            <option value="Public Holiday">Public Holiday</option>
          </select>
          <span class="pt-8 pb-2">State:</span>
          <select :error="form.errors.state_id" name="state_id[]" v-model="form.state_id" class="form-select mr-6" multiple="multiple" required>
            <option value="" disabled selected>Select state</option>
            <option v-for="state in $page.props.data" :key="state.id" :value="state.id">{{ state.state_name }}</option>
          </select>
          <text-input name="date" type="date" v-model="form.date" :error="form.errors.date" class="pt-8 pr-6 pb-8 w-full" label="Date"/>
        </div>
        <div class="px-8 py-4 bg-gray-50 border-t border-gray-100 flex justify-end items-center">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Create Holiday</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import FileInput from '@/Shared/FileInput'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
  metaInfo: { title: 'Create Holiday' },
  components: {
    FileInput,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        holiday_name: null,
        holiday_type: null,
        state_id: [],
        date: null,
      }),
    }
  },
  methods: {
    store() {
      this.form.post(this.route('states.store'))
    },
  },
}
</script>
