<template>
  <div>
    <h1 class="mb-8 font-bold text-3xl">Holiday</h1>
    <div class="mb-6 flex justify-between items-center">
      <search-filter v-model="form.search" class="w-full max-w-md mr-4" @reset="reset">
        <label class="mt-4 block text-gray-700">Trashed:</label>
        <select v-model="form.trashed" class="mt-1 w-full form-select">
          <option :value="null" />
          <option value="with">With Trashed</option>
          <option value="only">Only Trashed</option>
        </select>
      </search-filter>
      <inertia-link class="btn-indigo" :href="route('states.create')">
        <span>Create</span>
        <span class="hidden md:inline">Holiday</span>
      </inertia-link>
    </div>
    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="px-6 pt-6 pb-4">State</th>
          <th class="px-6 pt-6 pb-4">Year</th>
          <th class="px-6 pt-6 pb-4">Action</th>
        </tr>
        <tr v-for="holiday in holidays" :key="holiday.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t px-6 py-4 whitespace-nowrap">{{ holiday.state_name }}</td>
          <td class="border-t px-6 py-4 whitespace-nowrap">{{ holiday.holiday_year }}</td>
          <inertia-link class="border-t px-6 py-4 flex whitespace-nowrap items-center" :href="route('holidays', {state_id: holiday.state_id, holiday_year: holiday.holiday_year})" tabindex="-1">
            <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
          </inertia-link>
        </tr>
        <tr v-if="holidays.length === 0">
          <td class="border-t px-6 py-4 text-center" colspan="3">No holidays found.</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  metaInfo: { title: 'Holidays' },
  components: {
    Icon,
    SearchFilter,
  },
  layout: Layout,
  props: {
    filters: Object,
    holidays: Array,
  },
   data() {
    return {
      form: {
        search: this.filters.search,
        trashed: this.filters.trashed,   
      },
    };
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function () {
        this.$inertia.get(this.route('states'), pickBy(this.form), { preserveState: true })
      }, 150),
    },
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
